{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Equipements{% endblock %}

{% block body %}
    <h1> Equipements </h1>

    {% include('inc/vertical-line.html.twig') %}

    <div>liste des équipements + options</div>
{% endblock %}