{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Equipements{% endblock %}

{% block body %}
    <h1> Equipement(s) </h1>

    {% include('inc/vertical-line.html.twig') %}
    {% include('admin/stuff/_menu.html.twig') %}
    {% include('inc/vertical-line.html.twig') %}

    {% include('admin/stuff/properties/tables/_weapon_table.html.twig') %}
    {# include('admin/stuff/properties/tables/_armor_table.html.twig') #}
    {# include('admin/stuff/properties/tables/_accessory_table.html.twig') #}
    {# include('admin/stuff/properties/tables/_tools_table.html.twig') #}
    {# include('admin/stuff/properties/tables/_items_table.html.twig') #}

{% endblock %}