.vertical-line {
    width: 96%;
    height: 1px;
    background-color: black;
    opacity: .33;
    margin-left: 2%;
}

.logo {
    height: 50px;
    top: -20px;
}

.admin-logo {
    right: 15px;
    font-size: 40px;
    opacity: .33;
    color: #444;
    text-shadow:
            1px 0px 1px #ccc, 0px 1px 1px #eee,
            2px 1px 1px #ccc, 1px 2px 1px #eee,
            3px 2px 1px #ccc, 2px 3px 1px #eee,
            4px 3px 1px #ccc, 3px 4px 1px #eee,
            5px 4px 1px #ccc, 4px 5px 1px #eee,
            6px 5px 1px #ccc, 5px 6px 1px #eee,
            7px 6px 1px #ccc;
}

.stuff-icon {
    width: 12px;
}

.table td, .table th {
    padding: .25rem;
}

/* Stuff table */
.s-col-1 { width: calc(100%/24); }
.s-col-2 { width: calc(100%/12); }
.s-col-3 { width: calc(100%/8); }
.s-col-4 { width: calc(100%/6); }
.s-col-5 { width: calc(100%/5); }
.s-col-6 { width: calc(100%/4); }

/* Font style */

.normal-text {
    font-size: 16px;
}

.smaller-text {
    font-size: 14px;
}

.smallest-text {
    font-size: 12px;
}

.big-text {
    font-size: 20px;
}

.biggest-text {
    font-size: 22px;
}

.light-text {
    color: grey;
}